


.sidebar_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to top, rgb(36,60,148), rgb(32,70,158), #ffffff);
}

nav ul {
  list-style-type: none;
}

.nav-item {
  color: red
}

.infos_container{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 70%;
    right: 0;
}